.nav {
    grid-area: n;
    background-color: brown;
    padding: 30px;
}

.item a.activeLink {
    color: gold;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;

}

.item a:hover {
    color: gold;
}