.item {
    color: white;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.item a:hover {
    color: chocolate;
}

.link a {
    font-size: 1rem;
    color: white;
    text-decoration: none;

}