
.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'h h'
    'n c';
    grid-auto-rows: 120px 1fr;
    grid-template-columns: 2fr 10fr;
}

/*18L - вынесли общие стили из модулей Profile и Dialog сюда*/

.app-wrapper-content {
    grid-area: c;
    background-color: bisque;
}

.app-wrapper-content img {
    width: 100%;
}





